<!DOCTYPE html>
<html lang="en" ng-app="page">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>Deployments</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="scripts/animate.min.css">
<style>
.selected-true {
	background-color: #428bca;
	color: white;
}

.hover-btn {
	display: none;
}
    
.row:hover .hover-btn {
	display: block;
}
</style>
</head>
<body ng-controller="LandscapeController">
	<div id="wrap">
		<div class="row">
			<div class="col-lg-12">
		    	<h1 class="page-header">Deployments</h1>
			</div>
		</div>
		<div class="container">
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-default btn-primary btn pull-right" data-toggle="modal" data-target="#dialogCreateDeployment"><i class="fa fa-plus"></i> CREATE</button>
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>Namespace</th>
						<th>Name</th>
						<th>Replicas</th>
						<th>Images</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="entry in data" ng-click="showInfoForEntry(entry)">
						<td class="text-muted">{{entry.metadata.namespace}}</td>
						<td ng-show="entry.url"><a href="{{entry.url}}" target="_blank">{{entry.metadata.name}}</a></td>
						<td ng-hide="entry.url">{{entry.metadata.name}}</td>
						<td class="text-muted">{{entry.status.updatedReplicas}}/{{entry.status.replicas}}</td>
						<td class="text-muted"><i<span ng-repeat="container in entry.spec.template.spec.containers"><i>{{container.image}}</i><span></td>
						<td><button type="button" class="close" ng-click="setToBeDeleted(entry)" data-toggle="modal" data-target="#dialogDeleteDeployment"><i class="fa fa-trash-o"></i></button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- Create Dialog -->
	<div class="modal fade" id="dialogCreateDeployment" tabindex="-1" role="dialog" aria-labelledby="dialogCreateDeploymentLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="dialogCreateDeploymentLabel">Create Deployment</h4>
				</div>
				<div class="modal-body">
					<p>Name:</p>
					<input type="text" class="form-control" ng-model="deploymentData.name">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" ng-click="create()" data-dismiss="modal">Deploy</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- End Create Dialog -->

	<!-- Delete Dialog -->
	<div class="modal fade" id="dialogDeleteDeployment" tabindex="-1" role="dialog" aria-labelledby="dialogDeleteDeploymentLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="dialogDeleteDeploymentLabel">Delete a Deployment</h4>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to delete Deployment <b><i>{{deleteDeploymentName}}</i></b> in namespace <b><i>{{deleteDeploymentNamespace}}</i></b>?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" ng-click="delete()" data-dismiss="modal">Confirm</button>
				</div>
			</div>
		</div>
	</div>
	<!-- End Delete Dialog -->


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
	<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>

	<script src="scripts/bootstrap-notify.min.js"></script>

	<script type="text/javascript">
		angular.module('page', ['ngAnimate', 'ui.bootstrap']);
		angular.module('page').controller('LandscapeController', function ($scope, $http) {
			$scope.namespace = 'dev-account';
			$scope.deploymentData = {
				'name': null,
				'image': 'docker.io/dirigiblelabs/dirigible-tomcat:latest',
				'replicas': 1,
				'env': [{
					'name': 'DefaultDB_username',
					'value': 'root'
				}]
			};

			loadDeployments();

			$scope.create = function() {
				$http.post('../../../js/zeus/api/landscapes.js?namespace=' + $scope.namespace, JSON.stringify($scope.deploymentData)).success(function(data) {
					loadDeployments();
					$.notify({
							message: '<b>\'' + data.deployment.metadata.name + '\'</b> was registered'
						}, {
							type: "success"
						}
					);
				}).error(function(errorMessage) {
					$.notify({
						message: '<b>Error</b>: ' + errorMessage.message
					}, {
						type: "danger"
					});
				});
				$scope.deploymentData.name = null;
			};

			$scope.setToBeDeleted = function(deployment) {
				$scope.deleteDeploymentNamespace = deployment.metadata.namespace;
				$scope.deleteDeploymentName = deployment.metadata.name;
			}

			$scope.delete = function() {
				var namespace = $scope.deleteDeploymentNamespace;
				var name = $scope.deleteDeploymentName;
				$http.delete('../../../js/zeus/api/landscapes.js?namespace=' + namespace + '&name=' + name).success(function(deployment) {
					loadDeployments();
					$.notify({
							message: '<b>\'' + $scope.deleteDeploymentName + '\'</b> was deleted'
						}, {
							type: "success"
						}
					);
				}).error(function(errorMessage) {
					$.notify({
							message: '<b>Error</b>: ' + errorMessage.message
						}, {
							type: "danger"
						}
					);
				});
			};

			function loadDeployments() {
				$http.get('../../../js/zeus/api/landscapes.js?namespace=' + $scope.namespace).success(function(data) {
					$scope.data = data;
				});
			}
		});
	</script>
</body>
</html>
